@media(max-width: 1024px) {  
    .mockup-images {
        padding-left: 20px;
    }

    .footer .social-media ul {
        display: flex;
        justify-content: flex-end;
        margin-right: 25px;
    }
}

@media(max-width: 425px) {
    main {
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text {
        text-align: center;
        margin-left: 0;
        padding: 20px;
    }

    .text .button {
        margin-top: 50px;
    }

    .mockup-images {
        padding: 20px;
    }

    .footer .social-media ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        margin: 0;
    }

    .footer .attribution {
        margin-bottom: 50px;
    }
  }